.home-page {
    background-color: #f4ede4; /* צבע רקע */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* מאפשר שהתוכן יתפרס לכל המסך */
    width: 100vw;
    height: 100vh;
    
    /* הצמדת הדף למסך */
    position: fixed;
    top: 0;
    left: 0;
    
    /* מבטיח שהתוכן יתחיל מהחלק העליון */
    padding-top: 50px; /* מוסיף רווח מהחלק העליון */
}


.home-page h2 {
    color: #007bff;
    font-size: 34px;
    margin-bottom: 10px;
}

.home-page p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
    font-weight: bold;
}

.logout-button {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 20px;
    right: 20px; 
}

.logout-button:hover {
    background-color: #c82333;
}

.add-expense-button {
    background-color: #ea9707;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    
}

.stats-button {
    background-color: #35dc80;
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
